

<ion-card>
  <ion-card-content>
<h1>{{selectedItemQty}}</h1>

    <ion-item>
      <ion-label>Items</ion-label>
      <ion-select [(ngModel)]="itemSelected" placeholder="Select Item"  (ionChange) ="onItemChange()" >
        <ion-select-option *ngFor='let i of items' [value]=i  >{{i.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label>Customer</ion-label>
    <ion-select [(ngModel)]="custSelected" placeholder="Select Customer">
      <ion-select-option  *ngFor='let i of customers'  [value]=i>{{i.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-input type="text" placeholder="Enter quantity" [(ngModel)]="qtySelected"></ion-input>
  <ion-button (click)="onAdd()" >
    <ion-icon slot="start" name="add"></ion-icon>
    Click me
  </ion-button>
  </ion-card-content>
</ion-card>